body {
      background-image: url(images/10.jpg);
    }
    .form1{
      margin-top: 5rem;
      color: white;
    }
    .form2{
      margin-top: 5rem;
    }
.main{
  color: white;
  font-family: arial black;
}